body {
  background-color: rgb(235, 209, 220);
}

p {
  color: blueviolet;
  font-weight: 200;
}

.buttons {
  display: flex;
  justify-content: right;
}
.button {
  background-color: rgb(227, 174, 174);
  border: none;
  color: rgb(78, 12, 12);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
